h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

ul,
ol {
  padding-left: 2rem;
  margin-bottom: 1rem;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

a {
  color: #2563eb;
  text-decoration: underline;
}
